<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class = "page">

<center>
    <img src="{{url_for('static', filename='logo.jpg')}}" width="130" height="130" align="middle" class="padding"/>
    <br>
    <br>
</center>
  <h2>Welcome, {{username}}.</h2>
  <br />
  {% for mesg in get_flashed_messages() %}
  <div class="flash">{{ mesg }}</div>
   {% endfor %}

   <h2>Click a chat room to join:</h2>
   <ul class="rooms">
     {% for entry in rooms %}


       <form action="{{ url_for('room',  room_name=entry.roomName)}}">
           <input class = "button" type="submit" value="{{ entry.roomName }}" />
       </form>
         {% if entry.userCreated == username %}

         <form action="{{ url_for('deleteEvent', room_name=entry.roomName) }}">
             <input class = "button2" type="submit" value="Delete Room" />
         </form>

        {% endif %}
         <br />

     {% else %}
       <li><em>No chat rooms currently exist.</em>
     {% endfor %}
     </ul>

   <h2>Create a new chat room:</h2>
   <!-- Form with 2 inputs - event name and event date-->
   <form action = "" method="post">
     <input class = "login" placeholder = "Room Name" type="text" name="roomName" />
     <br />
     <input class = "button" type="submit" value="Create Room" />
   </form>

<br/>

<form action="{{ url_for('logout') }}">
<input class = "button" type="submit" value="Logout" />
</form>


</div>
