<!DOCTYPE html>
<html>
	<head>
		<title>ChatterBox</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>

		<div class = "page">
			<center>
			<img src="{{url_for('static', filename='logo.jpg')}}" width="130" height="130" align="middle" class="padding"/>
			<br>
			<br>
			<h1>Welcome to ChatterBox,</h1>
			<h3>A Flask Based Chatroom Application</h3>
			<br/>

			{% for mesg in get_flashed_messages() %}
			<div class="flash">{{ mesg }}</div>
			{% endfor %}

			<form action="" method="post">
			 <input class = "login" placeholder = "Username" type="text" name="user" />
				<br />
		    <input class = "login" placeholder = "Password" type="password" name="pass" />
				<br />
				<input class = "button" type="submit" value="Log in" />
			</form>

			<form action="{{ url_for('registerUser') }}">
				<br/>
			<input class = "button" type="submit" value="Register an Account" />
			</form>





		</center>
		</div>

	</body>
</html>
