<!doctype html>

<script type="text/javascript" src="{{ url_for('static', filename='ourScript2.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class = "page">
    <center>
        <img src="{{url_for('static', filename='logo.jpg')}}" width="130" height="130" align="middle" class="padding"/>
        <br>
        <br>
    </center>
  <h2>Welcome to the {{roomName}} chatroom.</h2>
  <br />
  {% for mesg in get_flashed_messages() %}
  <div class="flash">{{ mesg }}</div>
   {% endfor %}

   <h2>Chatlog:</h2>
   <br>

     <table id="theTable" class="chats">
 			{% for i in items %}
 				<tr>
 						<td><li>{{ i }}</li></td>
 				</tr>
 			{% else %}
 				<tr><td></td></tr>
 			{% endfor %}
 		</table>

<br>
     <form action = "" method="post">
  			<input class="message2" type="text" id="newMessage" name="newMessage" placeholder="New Message" />
  		  <input class="button3" type="button" id="theButton" value="Send Message" />
  	</form>

<br/>
<form action="{{ url_for('homePage') }}">
<input class = "button" type="submit" value="Exit Room" />
</form>

<br />

<form action="{{ url_for('logout') }}">
<input class = "button" type="submit" value="Logout" />
</form>


</div>
